* {
  border: 1px solid green;
}

header {
  position: fixed;
  width: 100%;
  display: block;
}

div {
  display: inline;
  margin: 10px;
}

body, html {
  height: 100%;
}

.intro {
  background-image: url("/img/map.jpg");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  opacity: 0.5;
  padding-top: 15%;
  line-height: 30px;
}

.introduction {
  font-size: 50px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
}

.introp {
  font-family: Comic Sans MS;
}

p {
  text-align: center;
}

@media screen and (max-width: 350px) {
  .intro {
    background-image: none;
  }
}
