*{
	border: 1px solid green;
}
header{
	position: fixed;
	width: 100%;
	display: block;

}
.link{
	display: inline;
	margin: 3.5%;
}
.intro1{
	border: 20px solid green;
}
body, html {
	height:100%;
}

.intro{
	background-image:url("/img/map.jpg");
	height: 100%;
	width: 100%;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	opacity: 0.5;
	padding-top: 15%;
	line-height: 30px;
}

.introduction{
	font-size: 50px;
	font-family: 'Fjalla One', sans-serif;
	font-weight: bold;
}
.introp{
	font-family: Comic Sans MS,;
	font-size: 17px;
}
p{
	text-align: center;
}

@media screen and (max-width:350px){
	.intro{
		background-image: none
	}
}