
header{
	position: fixed;
	width: 100%;
	/*display: block;*/
	background-color:#0033FF;
	z-index:1;
	padding: 10px;
	color: white;

	/*margin-right: 6%*/
}
.link{
	display: inline;
	/*margin-right: 6%;*/
	margin-top: 10px;
	font-size: 17px;
	color: white;
}
a{
	border-bottom: 3px solid white;
	margin: 5%;
	color: orange;
	text-decoration: none
}
a:hover{
	background-color: black;
	opacity: 0.8;
}

.travels{
	font-size: 32px;
	margin-right: 6%;
	font-family: 'Lobster', cursive;
}
.intro1{
	border: 20px solid green;
	border-radius: 25%;
}
body, html {
	height:100%;
	width:100%;
	margin: 0 auto;
}

.intro{
	background-image:url("/img/map.jpg");
	height: 100%;
	width: 100%;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	opacity: 0.5;
	padding-top: 17%;
	line-height: 30px;
}
.intro .intro1 {
	opacity: 1;
}

.introduction{
	font-size: 50px;
	font-family: 'Fjalla One', sans-serif;
	font-weight: bold;
}
.introp{
	font-family: Comic Sans MS,;
	font-size: 17px;
	/*width: 80%;*/
}
p{
	text-align: center;
}

@media screen and (max-width:500px){
	.intro{
		background-image: none;
		color: black;
		opacity:1;

	}
	.travels{
		display:block;
		text-align: center;
	}
}