* {
  border: 1px solid green;
}

header {
  position: fixed;
  width: 100%;
  /*display: block;*/
}

div {
  display: inline-block;
}

body, html {
  height: 100%;
}

h2 {
  text-align: center;
}

.intro {
  background-image: url("/img/globe.jpg");
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  text-align: center;
}
